body {
    background: linear-gradient(black,white);
    margin: 0;
    padding: 8;
    background-size: cover;
    height: 150vh;
    position: center;
}

h1 {
    color:black;
    font-size: 40px;
    background-color: rgb(253, 253, 253);
    text-align: center;
    font-family:'f Farek', sans-serif;                                                                     
    margin-top: 5%;
    margin-bottom: -20px;
    line-height: 1;
    text-shadow: 2px 2px 4px #000000;
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-20px); 
    }
}

.logo{
    position: relative;
    left: 0;
    height: 100px;
    width: 100px;
    border-radius: 950px;
    display: flex;
  
}
.navbar {
          background-color:lightgrey;
          width: 100%;
          margin: 0px;
          list-style: none;
          display: flex;
          justify-content: space-around;
          font-size: 1.5rem;           
          
}
.navbar ul li a{
          display: block;
          font-size: 16px;
          padding: 20px;
          text-decoration: none;
          flex-direction: row;
          gap: 50px;
          row-gap: 20px;
          flex-flow: nowrap;
          justify-items: center;
          box-sizing: border-box;
          color: white;
         

}
.navbar ul {
          list-style: none;
          display: flex;
          justify-content: space-around;
          flex-grow: 2;
          font-size: 1.5rem;
      
}

.navbar ul li a:hover {
    background: linear-gradient(black,red);
}

.chru-cen {
    background-color:skyblue ;
    box-shadow: 0 0 20px blue;
    display: flex;
    width: 50%;
    padding: 20px;
    justify-content: space-between;
    margin: 1rem auto;
    
    
}

.chru-cen img{
    width: 250px;
    height: auto;
    object-fit: contain;
    padding-left: 40px;
}

.chru-cen p{
    padding-left: 40px;
    color: black;
    font-size: larger;
    
}

.balay-cen {
    background-color:skyblue ;
    box-shadow: 0 0 20px blue;
    display: flex;
    width: 50%;
    padding: 20px;
    justify-content: space-between;
    margin: 1rem auto;
       
}

.balay-cen img{
    width: 250px;
    height: auto;
    object-fit: contain;
    padding-left: 40px;
}

.balay-cen p{
    padding-left: 40px;
    color: black;
    font-size: larger;
    
}

.pla-cen {
    background-color:skyblue ;
    box-shadow: 0 0 20px blue;
    display: flex;
    width: 50%;
    padding: 20px;
    justify-content: space-between;
    margin: 1rem auto;
       
}

.pla-cen img{
    width: 250px;
    height: auto;
    object-fit: contain;
    padding-left: 40px;
}

.pla-cen p{
    padding-left: 40px;
    color: black;
    font-size: larger;
    
}

.ganery-cen {
    background-color:skyblue ;
    box-shadow: 0 0 20px blue;
    display: flex;
    width: 50%;
    padding: 20px;
    justify-content: space-between;
    margin: 1rem auto;
       
}

.ganery-cen img{
    width: 250px;
    height: auto;
    object-fit: contain;
    padding-left: 40px;
}

.ganery-cen p{
    padding-left: 40px;
    color: black;
    font-size: larger;
    
}

.spot-cen {
    background-color:skyblue ;
    box-shadow: 0 0 20px blue;
    display: flex;
    width: 50%;
    padding: 20px;
    justify-content: space-between;
    margin: 1rem auto;
    
    
}

.spot-cen img{
    width: 250px;
    height: auto;
    object-fit: contain;
    padding-left: 40px;
}

.spot-cen p{
    padding-left: 40px;
    color: black;
    font-size: larger;
    
}

.cen-spot{
    background-color:skyblue ;
    box-shadow: 0 0 20px blue;
    display: flex;
    width: 50%;
    padding: 20px;
    justify-content: space-between;
    margin: 1rem auto;
    
    
}

.cen-spot img{
    width: 250px;
    height: auto;
    object-fit: contain;
    padding-left: 40px;
}

.cen-spot p{
    padding-left: 40px;
    color: black;
    font-size: larger;
    
}

.tops-nec{
    background-color:skyblue ;
    box-shadow: 0 0 20px blue;
    display: flex;
    width: 50%;
    padding: 20px;
    justify-content: space-between;
    margin: 1rem auto;
    
    
}

.tops-nec img{
    width: 150px;
    height: auto;
    object-fit: contain;
    padding-left: 40px;
}

.tops-nec p{
    padding-left: 40px;
    color: black;
    font-size: larger;
    
}

.footer {
    color: rgb(249, 248, 248);
    padding: 1px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.ILI-TI {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.tag-line {
    font-size: 0.9em;
    color: #fbf8f8;
    margin-bottom: 15px;
}


.about-link {
    color: rgb(16, 8, 2);
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    padding: 3px 10px;
    border: 3px solid rgb(3, 1, 0);
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;

}

.about-link:hover {
    background-color:red; 
    color: white;
}


.footer-copyright {
    border-top: 5px solid #060704; 
    padding-top: 5px;
    font-size: 1.1em;
    background: black;
    color: #f9f6f6;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
   
}



