html {
    scroll-behavior: smooth;
    cursor: default;
}

body{
    font-family: monospace;
    cursor: default;
    margin: 0;
    background-color:yellowgreen;
    background-image: url(../img/557455565_1508798550461869_3262642135377898943_n.jpg);  
    background-size:250dvh;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top center;
}

.logo{
    position: absolute;
    height: 100px;
    left: 0;
    width: 100px;
    border-radius: 950px;
    display: flex;
  
}


.navbar {
          width: 100%;
          margin: 0px;
          list-style: none;
          display: flex;
          justify-content: space-around;
          font-size: 1.5rem;           
          
}
.navbar ul li a{
          display: block;
          font-size: 16px;
          padding: 20px;
          text-decoration: none;
          flex-direction: row;
          gap: 50px;
          row-gap: 20px;
          flex-flow: nowrap;
          justify-items: center;
          box-sizing: border-box;
          color: white;
         

}
.navbar ul {
          list-style: none;
          display: flex;
          justify-content: space-around;
          flex-grow: 2;
          font-size: 1.5rem;
      
}

.navbar ul li a:hover {
    background: linear-gradient(black,red);

}

.title h1 {
    color:black;
    font-size: 100px;
    text-align: center;
    margin-bottom: -20px;
    line-height: 1;
    text-shadow: 2px 2px 4px #000000;
    animation: float 5s ease-in-out infinite;
    font-family:'f Farek', sans-serif;
    
}

@keyframes float {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-20px); 
    }
}
 h1 {
    color:black;
    font-size: 30px;
    text-align: center;
    margin-bottom: -20px;
    line-height: 1;
    text-shadow: 2px 2px 4px #000000;
    animation: float 5s ease-in-out infinite;
    font-family:'f Farek', sans-serif;
}

.place{
    scroll-margin-top: 80px; 
}

.place a{
        text-decoration: none;
}

.place h1{
    font-family:'f Farek', sans-serif;
    background-color:black; 
    color: #333; 
    padding: 10px; 
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 20px; 
    color: white;
    text-align: center;
    margin-top: 400px;
    font-size: 30px;

}

.places{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
}

.image {
    width: 300px;
    position: relative;
    margin: 50px;
    margin-top: 10px;
}


.places img{
    display: flex;
    min-width: 300px;
    max-width: 600px;
    width: calc(100% - 100%);
    height: 200px;
    padding: 0;
    box-shadow: 0 0 10px 5px  #85BCC7;
    border-radius: 16px;
    margin: auto;
    transition: 0.5s;
    
}

.content{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-left: 10px;
    line-height: .5;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
    box-shadow: #000000;
}

.content:hover{
  opacity: 1;
  transform: scale(1.05); 

}

.places .image:hover img {
  filter: brightness(0.5);}
  


